.points__update {
    width: 90%;
    height: 100vh;
}

.points__update_purchase,
.points__update_current,
.points__update_new {
    height: 10rem;
    width: 15.6rem;
    background-color: #429398;
    box-shadow: 1px 2px 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.points__update_purchase p,
.points__update_current p,
.points__update_new p {
    font-size: 2.5rem;
    margin: 0;
}

.points__update_purchase h3,
.points__update_current h3,
.points__update_new h3 {
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    color: #eee;
    letter-spacing: .1rem;
}

.points__update_totals {
    margin-top: 1rem;
    display: grid;
    /* grid-gap: 1rem; */
    grid-template-columns: 1fr 1fr 1fr;
}

.points__update_formcontainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 50rem; */
    grid-gap: 1rem;
}

.points__update_formcontainer h4 {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #6DDB1F;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

.points__update_formcontainer p {
    font-size: 1.2rem;
    margin: .5rem;
    color: #FDFFFC;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

.points__update_form input[type="text"] {
    width: 100%;
    border: .2rem solid rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
    font-size: 1.5em;
    margin-right: .2rem;
    margin-top: 1rem;
    padding: .8rem 0;
}

.points__update_form {
    margin-top: 1.5rem;
}

.points__update_form label {
    color: #FDFFFC;
}

button.done_btn {
    width: 15rem;
    margin-top: 2rem;
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-weight: 900;
    color: #202121;
    padding: 1.25rem 2rem;
    background: #FFE74C;
    text-transform: uppercase;
}

button.done_btn:hover,
button.done_btn:focus,
button.done_btn:active {
    letter-spacing: 0.125rem;
}

.rewards_list {
    text-align: center;
    max-width: 100%;
}

.rewards_list ul {
    list-style-type: none;
}

.rewards_list h3 {
    /* margin-top: 2rem; */
    font-size: 1.7rem;
    color: #FDFFFC;
}

@media screen and (max-width: 1200px) {
    .points__update {
        width: 90%;
    }

    .points__update_totals {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .points__update_formcontainer {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .points__update_purchase,
    .points__update_current,
    .points__update_new {
    height: 8rem;
    width: 14rem;
    background-color: rgb(75, 89, 102);
    box-shadow: 1px 2px 3px #000;
    color: #fff;
}
}

@media screen and (max-width: 720px) {
    .points__update_totals {
        grid-template-columns: 1fr;
    }
    .points__update_purchase,
    .points__update_current,
    .points__update_new {
    width: 100%;
    }

    .points__update_formcontainer {
        grid-template-columns: 1fr;
    }

    .points__update {
        background: #253034;
        height: 100%;
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .points__update {
        width: 100%;
        padding-right: 0 1rem;
    }

    .points__update_formcontainer {
        padding: 1rem;
    }

    .rewards_list ul {
        padding-left: 0;
    }

    .points__update_totals { padding: 1rem;
    }
}