.user__content-info--graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #429398;
    padding: 3rem 0;
    border: 2px solid rgba(255, 255, 255, 0.322);
    box-shadow: 1px 3px 2px rgb(39, 39, 39);
  }


  .user__content-info--graph h3 {
    font-size: 2.5rem;
    color: #FDFFFC;
    text-shadow: 1px 1px 3px rgb(93, 93, 93);
  }

  .points-total p {
    font-size: 3rem;
    margin: 0;
    color: #FDFFFC;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
  }

  @media screen and (max-width: 600px) {
    .user__content-info--graph h3 {
      font-size: 1.8rem;
      padding: 1rem;
    }

    .user__content-info--graph {
      padding-top: 1rem;
    }
  }