.user__content-info {
    display: flex;
    justify-content: center;
    background-color: #253034;
    padding: 1.5rem;
    border-right: 1px dashed rgba(168, 168, 168, 0.609);
  }

  .user__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
  }

.user__content-rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #253034;
    padding: 1rem;
  }

  .user__content-rewards h3 {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: #FDFFFC;
  }

  .user__content-rewards ul {
    list-style-type: none;
    width: 85%;
  }


  @media screen and (max-width: 1000px) {
    .user__content {
      display: grid;
      grid-template-columns: 1fr;
      height: 95vh;
      padding: 1rem 2rem;
    }

    .user__content-rewards ul {
      list-style-type: none;
      width: 100%;
    }

    .user__content-info {
      border-right: none;
    }
  }