.main__content-description--info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    grid-gap: 1rem;
  }

  .main__content-description--info-item {
    text-align: center;
    padding: 1rem;
    border-right: 1px solid black
  }

  .main__content-description--info-item h3 {
    text-align: center;
    font-size: 2rem;
  }

  .receipt {
    color: blue;
  }

  @media screen and (max-width: 800px) {
    .main__content-description--info {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem;
      grid-gap: 1rem;
    }
  }