.main__content-description {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.main__content-description--info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    grid-gap: 1rem;
  }

  .main__content-description--info-item {
    text-align: center;
    padding: 1rem;
  }

  .main__content-description--info-item:nth-child(1),
  .main__content-description--info-item:nth-child(2) {
    border-right: 1px dashed rgba(168, 168, 168, 0.609);
  }

  .main__content-description--info-item h3 {
    text-align: center;
    font-size: 2rem;
  }

  .receipt,
  .chicken,
  .money {
    color: #2E250A;
  }

  .info__item-description--heading {
    font-weight: 700;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 800px) {
    .main__content-description {
      margin-top: 2rem;
    }

    .main__content-description--info-item:nth-child(1),
  .main__content-description--info-item:nth-child(2) {
    border-right: none;
  }

    .main__content-description--info {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem;
      grid-gap: 1rem;
    }
  }