.main__header {
    display: flex;
    background-color: #47A94B;
    height: 2.5rem;
    align-items: center;
}

.main__header h1 {
    color: #FDFFFC;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.main__header a {
    text-decoration: none;
}