.main__content-intro {
    background: #CF5C36;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.main__content-intro--logo {
    max-width: 80%;
    margin: 0 auto;
}
.main__content-intro--container {
    justify-self: center;
    padding-bottom: 1rem;
    padding: 1rem;
}

.main__content-intro--container h2{
    font-size: 2rem;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #EEE5E9;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

button.btn {
    width: 13rem;
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-weight: 900;
    color: #202121;
    padding: 1.25rem 2rem;
    background: #FFE74C;
    text-transform: uppercase;
}

button.btn:hover,
button.btn:focus,
button.btn:active {
    letter-spacing: 0.125rem;
}


.customer__btn {
    margin-right: .5rem;
}

.business__btn {
    margin-left: .5rem;
}


@media screen and (max-width: 800px) {

    .main__content-intro--logo {
        max-width: 80%;
    }

    .customer__btn {
        margin: .5rem;
    }

    .business__btn {
        margin: .5rem;
    }
}

@media screen and (max-width: 800px) {
    .main__content-intro {
        height: 100%;
    }

}