.main__content-business_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content-business_login h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    align-self: center;
}

.form__input-container {
    width: 75%;
}

.businessLoginForm {
    border-radius: 1rem;
    width: 40vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"]{
    width: 100%;
    border: .2rem solid rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
    font-size: 1.5em;
    margin-right: .2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .8rem 0;
}

input[type="text"]:hover,
input[type="password"]:hover {
    cursor: pointer;
    border: .2rem solid rgba(0, 162, 255, 0.849);
}

label {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0 2rem 0;
}

button.biz-btn {
    width: 15rem;
    margin-top: 2rem;
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-weight: 900;
    color: #202121;
    padding: 1.25rem 2rem;
    background: #FFE74C;
    text-transform: uppercase;
}

button.biz-btn:hover,
button.biz-btn:focus,
button.biz-btn:active {
    letter-spacing: 0.125rem;
}

@media screen and (max-width: 800px) {
    .main__content-business_login {
        margin-top: 5rem;
    }

    .businessLoginForm {
        padding: 0;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}