.main__content-user_lookup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDFFFC;
}

.main__content-user_lookup h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.customerLoginForm {
    padding: 5rem;
    border-radius: 1rem;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.customerLoginForm input[type="tel"]{
    width: 100%;
    border: .2rem solid rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
    font-size: 1.5em;
    margin-right: .2rem;
    margin-top: 1rem;
    padding: .8rem 0;
}

input[type="tel"]:hover {
    cursor: pointer;
    border: .2rem solid rgba(0, 162, 255, 0.849);
}

label {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0;
}

button.cust-btn {
    width: 15rem;
    margin-top: 2rem;
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-weight: 900;
    color: #202121;
    padding: 1.25rem 2rem;
    background: #FFE74C;
    text-transform: uppercase;
}

button.cust-btn:hover,
button.cust-btn:focus,
button.cust-btn:active {
    letter-spacing: 0.125rem;
}

@media screen and (max-width: 800px) {
    .main__content-user_lookup {
        margin-top: 0;
        padding-bottom: 1rem;
    }

    .main__content-user_lookup h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .customerLoginForm {
        padding: 1rem;
        height: 100%;
    }

    button.cust-btn {
        width: 100%;
        margin: 0;
        color: #202121;
        padding: 1.25rem 2rem;
    }
}