body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 800px) {
  .user__content-info--welcome {
      width: 30rem;
  }

  .user__content-rewards ul {
      width: 100%;
  }

  .user__content {
      display: grid;
      grid-template-columns: 1fr;
      height: 95vh;
  }
/*
  .main__content {
      grid-template-columns: 1fr;
  } */

  .main__content-intro {

      align-items: flex-start;
      height: 90vh;
  }

  .main__content-description--info {
      grid-template-columns: 1fr;
  }

  .main__content-intro--logo {
      max-width: 25rem;
  }
}