body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* .main__header {
  display: flex;
  background-color: #bbb;
  height: 2.5rem;
  align-items: center;
}

.main__header h1 {
  margin-left: 1rem;
} */
/*
.main__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 95vh;
} */

/* .main__content-description--info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  grid-gap: 1rem;
}

.main__content-description--header img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.main__content-description-header {
  padding: 1rem;
}

.main__content-description--header h3 {
  margin-left: 2rem;
}

.main__content-description-header h3 {
  font-size: 2rem;
  margin-left: 1rem;
} */
/*
.main__content-intro {
  background: #70b1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__content-intro--logo {
  max-width: 30rem;
}

.main__content-intro--container h2{
  font-size: 2rem;
}

.customer__btn {
  padding: 1rem;
  margin-right: .5rem;
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.business__btn {
  padding: 1rem;
  margin-left: .5rem;
  background-color: rgb(59, 59, 59);
  color: #fff;
} */
/*
.main__content-user_lookup {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .user__content-info {
  display: flex;
  justify-content: center;
}

.user__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 1rem 2rem;
} */

/* .user__content-info--welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ccc;
  width: 40rem;
  margin: 2rem 0;
}

.user__content-info--welcome-initial {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.user__content-info--welcome-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-left: 1rem;
}

.user__content-info--welcome-circle {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
} */

/* .user__content-info--graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
}

.points-total p {
  font-size: 3rem;
  margin: 0;
} */

/* .user__content-rewards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__content-rewards h3 {
  margin-top: 2rem;
}

.user__content-rewards ul {
  list-style-type: none;
  width: 75%;
} */

/* .user__content-rewards--item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
}

.user__content-rewards--points {
  background-color: #ccc;
  padding: 1rem;
  text-align: center;
}

.user__content-rewards--reward {
  background-color: #bbb;
  text-align: center;
  padding: 1rem;
} */

@media screen and (max-width: 800px) {
  .user__content-info--welcome {
      width: 30rem;
  }

  .user__content-rewards ul {
      width: 100%;
  }

  .user__content {
      display: grid;
      grid-template-columns: 1fr;
      height: 95vh;
  }
/*
  .main__content {
      grid-template-columns: 1fr;
  } */

  .main__content-intro {

      align-items: flex-start;
      height: 90vh;
  }

  .main__content-description--info {
      grid-template-columns: 1fr;
  }

  .main__content-intro--logo {
      max-width: 25rem;
  }
}